* {
  box-sizing: border-box;
}

h1 {
  color: #3a3a3a;
}

body {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  background-color: #f67300;
}

.container {
  width: 75%;
  margin: auto;
  text-align: center;
  background-color: #fff;
  height: 100%;
  margin-top: 20vh;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.form {
  width: 55%;
  position: relative;
  height: 50px;
  overflow: hidden;
  margin: auto;
  margin-top: 13vh;
}

.form input {
  width: 100%;
  height: 100%;
  border: none;
  padding-top: 20px;
  color: #595f63;
  outline: none;
}

.form label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.form label::after {
  content: "";
  left: 0;
  bottom: -1px;
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #ff9f4c;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: #f67300;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}
